@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Montserrat:wght@400;600;700;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', 'Montserrat','sans-serif';
}
.contenedor{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #262626;
    overflow: hidden;
   

}
header{
    position: relative;
    width: 100%;
    padding: 40px 0;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    z-index: 2;
}
.logo a{
    font-family: 18px;
    font-weight: 500;
    text-decoration: none;
    color: rgb(204, 201, 201);
    
}
.menu{
    position: relative;
}
.menu ul{
    display: flex;

}
.menu ul li{
    list-style: none;
    
}
.menu ul li a{
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    text-transform: capitalize;
    color: rgb(204, 201, 201);
    margin: 0 18px;
    position: relative;
    cursor: pointer;
    transition: 0.3s ;
}
.menu ul li a:hover{
    color: #fff;
}
.menu ul li a::before{
    position: absolute;
    content: "";
    left: 0;
    bottom: -12px;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: translateY(12px);
    transition: 0.5s;
    opacity: 0;
}
.menu ul li a:hover::before{
    opacity: 1;
    transform: translateY(0px);

}
.swiper{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    
}
.swiper-wrapper{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #262626; 
    
}
.swiper-slide{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #262626; 
}
.slide-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.info{
    position: relative;
    left: -12vh;
    top: -10vh;
}
.info p{
    font-size: 16px;
    font-weight:400;
    text-transform: uppercase;
    color: #fff;
}
.slide-2 .info p {
    color: rgb(14, 27, 209);
}

.slide-3 .info p {
    color: rgb(218, 11, 8);
}
.blanco{
    color: #fff;
}
.red{
    color: red;
}
.info h1{
     font-size: 4rem;
     color: #fff;
     padding: 20px 0;
     line-height: 1;
}
.info a{
    position: relative;
    padding: 10px;
    top: 12px;
    width: 135px;
    height: 45px;
    border: 2px solid blue;
    background-color: transparent;
    color: rgb(204, 201, 201);
    border-radius: 25px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    outline: none;
    box-shadow: 2px 2px 8px blue;
    cursor: pointer;
    transition: 0.5s;
}
.slide-2 .info button {
    color: rgb(204, 201, 201);
    box-shadow: 2px 2px 8px blue;

}
.slide-3 .info button {
    color: rgb(204, 201, 201);
    box-shadow: 2px 2px 8px rgb(218, 11, 8);
    border-color: rgb(218, 11, 8);

}
.slide-3 .info button:hover{
    background-color: rgb(218, 11, 8);

}
.info button:hover{
    background-color: blue;
}
.imgSlide{
    position: relative;
}
.back-img{
    position: relative;
    top: 5vh;
    /* left: 5vh; */
    right: -45vh;
    pointer-events: none;
}
.back-img img {
    width: 100%;
   animation: back 5s linear infinite;
}
@keyframes back{
    0%{
        transform: rotate(8deg);
    }
    50%{
        transform: rotate(-8deg);
    }
    100%{
        transform: rotate(8deg);
    }
}

.frond-img{
    position: absolute;
    top: 0vh;
    right: 10vh;
    overflow: hidden;
}
.frond-img img {
    width: 100%;
    animation: frond    5s linear infinite;
}
@keyframes frond{
    0%{
        transform: translateX(-10px);
    }
    50%{
        transform: translateX(10px);

    }
    100%{
        transform: translateX(-10px);

    }
}


.glassipia{
    position: absolute;
    width: 73%;
    height: 200px;
    left: 18%;
    bottom: -5vh;
    background: linear-gradient(135deg, rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter:blur(10px);
    z-index: 2;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.glassipia  a{
    font-size: 14px;
    color: rgb(204, 201, 201);
    text-decoration: none;
    position: relative;
    top: -18px;
    text-transform: uppercase;
}
.glassipia p {
    line-height: 1.5;
    text-transform: capitalize;
}
.glassipia .icon {
    position: relative;
    top: 3vh;
    left: -6vh;
}
.glassipia .icon i{
    font-size: 18px;
    color: #fff;
    margin: 0 10px;
    position: relative;
}
.glassipia .icon a::before{
    position: absolute;
    content: "";
    left: 0;
    bottom: -8px;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: 0.5s;
    transform: translateY(12px);
    opacity: 0;
    cursor: pointer;
}
.glassipia .icon a:hover::before{
    opacity: 1;
    transform: translateY(0px);
}
.glassipia .line{
    position: relative;
}
.glassipia .line::before{
    position: absolute;
    content: "";
    right: -30px;
    top: 5px;
    width: 2px;
    height: 100%;
    background-color: rgb(204, 201, 201);
}