
*{
    padding: 0;
    margin: 0;
    font:100%/1.4 Verdana, Arial, Helvetica, sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: #a1a0a0;
    color: #000;
}
h1, h2, h3, h4, h5, h6, p {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0;
}
a img {
    border: none;
}
a:visited {
    color: #6E6C64;
    
}
a:hover, a:active, a:focus { 
    text-decoration: none;
}
.contenedor{
    width: 960px;
    background-color: #fff;
    margin: 0 auto;
}
.cabecera{
    background-color: #b0b0af;
    color: #fff;
    font-size: x-large;
    font-weight: 800;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    height: 90px;
    margin-top: 10px;
    width: 100%;

    
}
.cabecera img {
    float: left;
    background-color: #f4f4f1;
    display: block;
    width: 180px;
    height: 90px;
    border-radius: 10px;
    object-fit: cover;
}
.cabecera div{
    display: flex;
    width: 100%;
    justify-content:center ;
    align-items: center;

}
.barra-lateral{
    clear: both;
    float: left;
    background-color: #fff;
    width: 180px;
    padding-bottom: 10px;

}
.nav ul {
    list-style: none;
    border-top: 1px solid #666;
    margin-bottom: 15px;
    
}
.nav ul a, .nav ul a:visited{
    padding: 5px 5px 5px 5px;
    display: block;
    width: 170px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
    background-color:#c1c1c0 ;
    text-align: center;
    
}
.nav li {
    border-bottom: 1px solid #666;
    

}
.nav ul a:hover, .nav ul a:active, .nav ul a:focus { 
         background-color:#b0b0af ;
          width: 180px;
          border-bottom-right-radius: 8px;
          border-top-right-radius: 8px;
        color: #FFF;
    transition: all .03s;

  }
  .contenido{
    padding: 10px 0;
    width: 780px;
    float: left;
    gap: 20px;
  } 
  .contenido h1{
    font-size: xx-large;
    font-weight: 700;
    margin-bottom: 6px;
    
  }
  .contenido h2{
    font-size: x-large;
    font-weight: 700;
    margin-bottom: 6px;

  }

  footer{
    padding: 10px 0;
    background-color: #b0b0af;
    color: #fff;
    position: relative;
    clear: both;

  }
